DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=brain_agriculture_dev
SQL_USER=brain_agriculture
SQL_PASSWORD=brain_agriculture
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
