{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}Dashboard{% endblock %}
{% block content %}
<!-- Home Section -->
<div id="ruralproducercreate" class="content-section">
  <h2>New Rural Producer Register</h2>

  <form method="post">
    {% csrf_token %}

    {% render_field form.name placeholder="Name" class="form-control"%}
    {% render_field form.cpf placeholder="CPF" class="form-control"%}
    {% render_field form.city placeholder="City" class="form-control"%}
    {% render_field form.state placeholder="State" class="form-control"%}
    {% render_field form.farm_name placeholder="Farm Name" class="form-control"%}
    {% render_field form.farm_area placeholder="Farm Area" class="form-control"%}
    {% render_field form.vegetation_area placeholder="Vegetation Area" class="form-control"%}
    <br>

    <button type="submit" class="btn btn-default">Register new rural producer </button>
  </form>

  <input type="hidden" name="name" value="ruralproducer">
</div>

{% endblock %}